body{
      background-color: linear-gradient(to right, #f59e0b , #713f12);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
}

.h3{
    text-align: center;
}