.titulo{
    color: blue;
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.fundo-Home {
  background-image: url('../../assets/fundoHome.jpg');
  background-size:cover; 
    width: 100%;
    overflow: hidden;
}
.fundo-Categoria{
  background-image: url('../../assets/categoriasImg.jpg');
  background-size:cover; 
    width: 100%;
    overflow: hidden;
}

.fundo-Agendamento{
  background-image: url('../../assets/agendamentos.jpg');
  background-size:cover; 
    width: 100%;
    overflow: hidden;
}

.dark-text {
    color: #778899
  }

.back-home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }
  
  .button-circle {
    align-items: end;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: gray;
    border: 2px solid gray;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button-circle:hover {
    background-color: teal;
    color: white;
  }
  