@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Courier New', Courier, monospace;
}

.bg-component{
    background-color: #fffbeb;
}
.cor-texto-padrao{
    color: #082f49;
}
.cor-acessorio{
    background-color: #6dd47e;
}



